body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Define a altura do body como 100% da altura da tela */
}

.img {
    text-align: center;
}